h1{
    text-align: center;
}

.index li{
    font-size: 15px;
}

.bottom{
    margin-bottom:50px;
}

.works p{
    text-align: center;
}

.profile p{
    font-size: 15px;
}


footer {
  text-align: center;
  padding: 10px;
  background: #101010;
}